-if @results.size > 0
  = "Founded #{@results.size} #{'result'.pluralize(@results.size)} for \"#{@query}\" query:"
  %br
    %ul
      -@results.each do |r|
        %li
          =link_to r["Name"], "#", :class => "show"
          .hidden
            %span
              Type:
            =r['Type']
            %br
            %span
              Designed by:
            =r['Designed by']
-else
  ="No results for #{@query}"