// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hidden{
  display: none;
  span{
    font-weight: 800;
  }
}
#results{
  margin-top: 20px;
}
